<div id="<%= dom_id group %>">
  <p>
    <strong>Authorid:</strong>
    <%= group.AuthorId %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= group.Name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= group.Icon %>
  </p>

</div>
