<h1>CarExpenseTracker</h1>

<div class="entryButton blue">
  <%= link_to "Log In", new_user_session_path	%>
</div>

<div class="entryButton">
  <%= link_to "Sign Up", new_user_registration_path	%>
</div>
