body {
  font-family: 'proxima-nova', sans-serif;
  background-color: #f5f6f8;
  margin: 0;
}

img {
  width: 100px;
  height: 100px;
  padding: 5px;
}

.groupContainer {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 10px;
}

.expenseContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 10px;
  padding: 1rem;
}

.expenseNameDate {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #3778c2;
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.linkBox {
  flex: 1;
}

.total {
  padding: 10px;
}

.greenButton {
  background-color: #5fb523;
  position: absolute;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.greenButton > * {
  color: white;
  background-color: #5fb523;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  border: solid 1px white;
  border-radius: 4px;
  flex: 1;
}

.totalExpenses {
  padding: 0.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.gray {
  color: gray;
}

.headerBack {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

.headerBack > * {
  text-decoration: none;
  color: white;
}

input {
  width: 100%;
  border: none;
  padding: 1rem;
  border-bottom: solid 1px gray;
}

select {
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: white;
  color: gray;
}

.otherLink {
  background-color: aqua;
}

h1 {
  text-align: center;
}

.entryButton {
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.entryButton > * {
  text-decoration: none;
  flex: 1;
  color: gray;
  text-align: center;
}

.blue {
  background-color: #3778c2;
}

.blue >* {
  color: white;
}