<div id="<%= dom_id expense %>">
  <p>
    <strong>Authorid:</strong>
    <%= expense.AuthorId %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= expense.Name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.Amount %>
  </p>

</div>
